.sr-only {
  border: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  float: left;
}

p {
  font-weight: $font-regular;
  color: $theme-black;
}

h1,
h2 {
  color: $theme-dark;
  font-weight: $font-medium;
}

h3,
h4 {
  color: $theme-dark;
  font-weight: $font-light;
}

.button {
  background-color: transparent;
  border: 2px solid $theme-red;
  border-radius: 25px;
  padding: 12px 24px;
  font-weight: $font-bold;
  text-transform: uppercase;
  transition: $theme-transition;

  &:hover {
    background-color: $theme-red;
  }
}

h1,
.h1 {
  font-size: 32px;
  line-height: 120%;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 110%;
}

.text-subtitle {
  font-size: 10px;
  line-height: 110%;
  text-transform: uppercase;
  color: $theme-red;
  margin-bottom: 6px;
  letter-spacing: 0.1em;
}

@mixin img-ratio() {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}