.skill {
  &__title {
    margin-bottom: 24px;
  }
  &__lists {
    @extend .d-flex;
    flex-wrap: wrap;
  }
}

.card {
  padding: 10px 0;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
