.skill {
  &__title {
    margin-bottom: 24px;

    @include mq($from: lg) {
      max-width: 600px;
    }
  }
  &__lists {
    @extend .d-flex;
    flex-direction: column;

    @include mq($from: lg) {
      flex-direction: row;
    }
  }
}

.card {
  border: 1px solid $theme-red;
  border-radius: 20px;
  height: 100%;
  padding: 10px 7.5px;
  @include mq($from: lg) {
    padding: 20px 15px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;

    @include mq($from: lg) {
      margin-right: 20px;
    }
  }

  &__title {
    @extend .d-flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 12px;
  }
}
