.footer {
  background-color: $theme-white;

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 20px;

    @include mq($from: lg) {
      padding: 30px 0;

    }
  }

  &__block {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;

    h2 {
      font-size: 52px;
      margin-bottom: 40px;
      color: $theme-black;

      @include mq($from: lg) {
        font-size: 62px;
      }
    }

    .footer__highlight {
      position: absolute;
      bottom: 20px;
      left: 40%;
      transform: translateX(-50%);
      max-width: 230px;

      @include mq($until: lg, $and: false, $from: sm) {
        left: 20%;
        bottom: 30px;
      }

      @include mq($from: lg) {
        bottom: 10px;
        left: 40%;
        max-width: 100%;
      }
    }
  }

  &__copy {
    text-align: center;

    p {
      color: $theme-gray;
    }
  }
}