.footer {
  background-color: $theme-white;

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
  }

  &__block {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;

    h2 {
      font-size: 62px;
      margin-bottom: 40px;
      color: $theme-black;
    }

    .footer__highlight {
      position: absolute;
      bottom: 10px;
      left: 40%;
      transform: translateX(-50%);
    }
  }

  &__copy {
    text-align: center;

    p {
      color: $theme-gray;
    }
  }
}