.hero {
  background-color: $theme-light;
  color: $theme-dark;
  text-align: center;
  height: 100vh;
  min-height: 667px;

  @include mq($from: lg) {
    min-height: 800px;
  }
  &__wrapper {
    @extend .d-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h1 {
    font-size: 32px;
    line-height: 120%;
    font-weight: 900;
    position: relative;
    overflow: hidden;

    @include mq($from: lg) {
      font-size: 72px;
    }
    span.highlight {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      color: $theme-red;
      box-shadow: 0px -2px 0px 0px $theme-red inset;
      transition: $theme-transition;

      @include mq($from: lg) {
        transition-duration: 500ms;
      }

      &:hover {
        color: $theme-white;
        box-shadow: 200px -2px 0px 0px $theme-blue inset;

        @include mq($from: lg) {
          box-shadow: 50vw -2px 0px 0px $theme-blue inset;
        }
      }
    }
  }
}
