<section class="about" id="about">
    <div class="about__wrapper">
        <picture>
            <img class="ornament" src="/src/images/arrow-down-right.svg" alt="">
        </picture>
        <div class="about__text">
            <h2>About Me</h2>
            <p>
                As a freelance website developer, I worked with the client to determine the tools and features that are really important to support writing productivity; this approach generates +1000 daily organic visitors which continues to grow every day. I am excited about opportunities where I can turn prototype and business logic into a web application that users actually love and using it everyday.
            </p>
            <picture>
                <img src="/src/images/portfolio-text-about.svg" alt="">
            </picture>
        </div>
        <div class="about__image">
            <picture>
                <img src="/src/images/portfolio-about.jpg" alt="Wijayaac">
            </picture>
        </div>
    </div>
</section>