<section class="about" id="about">
    <div class="about__wrapper">
        <picture>
            <img class="ornament" src="/src/images/arrow-down-right.svg" alt="">
        </picture>
        <div class="about__text">
            <h2 data-motion="staggerTitle">About Me</h2>
            <p>
                Let me help take your website to the next level. As an experienced freelance website developer, I specialize in identifying the tools and features that will maximize productivity and engagement. With my approach, I've helped generate over 1000 daily organic visitors and counting. I'm passionate about turning business logic into web applications that users love. Let's work together to bring your vision to life and make your website a success!
            </p>
            <picture data-motion="fadeIn">
                <img src="/src/images/portfolio-text-about.svg" alt="">
            </picture>
        </div>
        <div class="about__image">
            <picture>
                <img src="/src/images/portfolio-about.jpg" alt="Wijayaac">
            </picture>
        </div>
    </div>
</section>