<section class="cta section">
    <div class="cta__wrapper">
        <div class="cta__content">
            <h2 class="cta__title" data-motion="staggerTitle">
                Want to work together?
            </h2>
            <p data-motion="fadeIn">
                Feel free to reach out for collaborations or just a friendly hello to<br>
                wijayaac25(@)gmail.com
            </p>
        </div>
        <div class="cta__button" data-motion="fadeIn">
            <div class="link">
                <a href="#contact" class="link__cta" data-scroll>Contact me</a>
                <div class="link__social">
                    <each loop="social in socials">
                        <a href="{{social.url}}" target="_blank">
                            <img src="/src/images/icon-{{social.name}}.svg" alt="">
                        </a>
                    </each>
                </div>
            </div>
        </div>
    </div>
</section>