<section class="hero">
    <article class="section">
        <div class="hero__wrapper">
            <div class="hero__image">
                <picture>
                    <img src="/src/images/portfolio-hero.jpg" alt="Portfolio">
                </picture>
            </div>
            <div class="hero__text">
                <span data-dynamic="year">2023</span>
                <h1 data-motion="staggerTitle">
                    Portfolio
                </h1>
                <picture>
                    <img src="/src/images/text-style-hero.svg" alt="">
                </picture>
            </div>
        </div>
    </article>
</section>