<nav id="primary-navigation" class="header__primary-nav" data-visible="false">
    <ul class="header__menu-wrapper">
        <li>
            <a href="#projects" data-scroll class="header__nav-item header__nav-item--primary">
                Projects
            </a>
        </li>
        <li>
            <a href="#about" data-scroll class="header__nav-item header__nav-item--primary">
                About Me
            </a>
        </li>
        <li>
            <a href="#contact" data-scroll class="header__nav-item header__nav-item--cta">
                Contact
            </a>
        </li>
    </ul>
</nav>